body {
    font-family: HelveticaNeue, Helvetica !important;
}

.x-docking-vertical > .x-body,
#accountcontainer .x-scroll-container,
#createeventform > .x-body,
#wherecontainer > .x-body,
#whencontainer > .x-body {
    background: #F0F0F0 !important;
}
#gallery .x-docking-vertical > .x-body {
    background: transparent !important;
}

/*
#eventdetailscontainer > .x-body > .x-scroll-container > .x-inner {
    background: #444 !important;
}
*/
.x-layout-card-item {
    background: transparent;
}
#eventdetailscontainer {
    background: #333 !important;
}

#browseTab .x-dock-body > .x-inner, #accountcontainer > .x-dock-vertical > .x-dock-body > .x-inner {
    background: #f0f0f0 !important;
}

#activity .x-mask,
#activity .x-mask div,
#whostherecontainer .x-mask,
#whostherecontainer .x-mask div,
#following .x-mask,
#following .x-mask div {
    background-color: transparent !important;
}
#whostherecontainer .x-mask div {
    margin-top: 10px !important;
}
#gallery .x-mask div {
    margin-top: 25px !important;
}

.hide-spinner .x-loading-spinner-outer {
    display: none !important;
}
.x-loading-spinner {
    font-size: 25px !important;
}

.x-form.x-floating {
    padding: 0px !important;
}
.x-form.x-floating > .x-dock.x-sized {
    margin: 0px !important;
}

.x-list-pullrefresh {
    color: #777 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    height: 50px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.x-list-pullrefresh img {
    margin-top: 35px;
    -webkit-transition: -webkit-transform 0.2s ease 0s !important;
    -webkit-transform: rotate(180deg) !important;
    opacity: 0.4 !important;
    -webkit-transform-origin-y: 10px;
}
.x-list-pullrefresh-release img {
    -webkit-transform: rotate(0deg) !important;
    opacity: 1 !important;
    /*-webkit-transform: translateY(12px) !important;*/
}
.x-list-pullrefresh-loading img {
    -webkit-animation: loading-tarsier 2s linear 0.7s infinite;
}
@-webkit-keyframes loading-tarsier {
    0% { -webkit-transform: scale(1); }
    25% { -webkit-transform: scale(1.3); }
    50% { -webkit-transform: scale(0.8);}
    75% { -webkit-transform: scale(1.3);}
    100% { -webkit-transform: scale(1); }
}


.x-list-pullrefresh-wrap {
    text-align: center !important;
}

.x-clear-icon {
    background-image: url(../images/clear-icon.png) !important;
    background-size: 20px !important;
}


/* TopToolbar View */
.x-toolbar-blue {
    border-bottom: none !important;
    min-height: 47px !important;
    height: 47px !important;
    box-shadow: black 0px -2px 8px 2px !important;
    -webkit-transition: height 0.3s linear 0s !important;
    background: #0F8AE2 !important;
    z-index: 1 !important;
}
.lightbox .x-toolbar-blue {
    top: -47px !important;
    min-height: 0px !important;
    height: 0px !important;
}

.x-toolbar-blue .x-title {
    padding: 0px !important;
    margin-top: 0px !important;
    min-height: 38px;
    max-width: 60% !important;
    width: 60% !important;
    font-size: 15px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    text-shadow: none !important;
    background-image: url('../images/header-logo.png');
    background-position: center -1px;
    background-size: 134px 36px;
    background-repeat: no-repeat;
    display: table !important;
}
.hide-logo .x-title {
    background: none !important;
}
.long-title .x-title {
    font-size: 12px !important;
    line-height: 14px !important;
}
.x-toolbar-blue .x-title .x-innerhtml {
    height: 38px !important;
    width: 60% !important;
    padding: 0px !important;
    text-align: center !important;
    white-space: normal !important;
    display: table-cell !important;
    vertical-align: middle !important;
}
.x-toolbar-blue .full-title {
    margin-top: 0px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}
.x-toolbar-blue .top-title {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.x-toolbar-blue .subtitle, .x-toolbar-blue .subtitle-phase2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.6;
    position: absolute;
    display: block;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: opacity 0.3s linear 0s;
}
.x-toolbar-blue .subtitle-phase2 {
    opacity: 0;
}
.x-toolbar-blue .swap .subtitle {
    opacity: 0;
}
.x-toolbar-blue .swap .subtitle-phase2 {
    opacity: 0.6;
}


/* Slider Menus that correspond with carousels '*/
#sliderMenu, #sliderMenuSettings {
    border-bottom: 5px solid #f0f0f0 !important;
    box-shadow: none !important;
    background: #555 !important;
    font-size: 10px !important;
    color: white !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    margin: 0px auto !important;
}
#sliderMenuSettings {
    z-index: 1; /* otherwise the sliderMenu search icon shines through to sliderMenuSettings */
}
#searchToolbar {
    background: #F0F0F0 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.sliderMenuSearch {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px !important;
    overflow: visible !important;
}
.sliderMenuSearch .x-icon-mask {
    margin-top: 0px;
    width: 13px !important;
    height: 13px !important;
    -webkit-mask-size: 100% !important;
    background: rgba(255,255,255,1) !important;
}
.sliderMenuPointer, .sliderMenuSettingsPointer {
    position: absolute;
    bottom: 0px;
    left: 63%;
    background: transparent;
    width: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #f0f0f0;
    margin-left: -2.5%;
    height: 0;
    /*-webkit-transition: left 0.1s linear 0s;*/
    /*box-shadow: 0px 0px 9px 0px #fff;*/
}
.sliderMenuSettingsPointer {
    left: 16%;
}
#sliderMenu .x-inner > div:active, #sliderMenuSettings .x-inner > div:active {
    text-shadow: 0px 0px 10px #fff !important;
}


.container-inlet-triangle {
    position: absolute;
    top: -7px;
    left: 15px;
    background: transparent;
    width: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #222;
    height: 0;
}


.x-form .x-scroll-container {
    background: transparent !important;
}


/* Loading animation on top of bottom toolbar for uploads etc; not necessarily a 'circle' though */
.loading-circle {
    position: relative;
    top: -35px;
    left: 1px;
    background-color: white;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 18px white;
    -webkit-animation-delay: 0.1s;
    -webkit-animation: glow-pulse 0.8s infinite linear;
}
.loading-circle.burst-out {
    -webkit-animation: burst-out 1s 1 linear !important;
    box-shadow: 0px 0px 25px 18px #FF6001 !important;
    opacity: 0;
}
@-webkit-keyframes glow-pulse {
    0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
@-webkit-keyframes burst-out {
    0% { opacity: 0; }
70% { opacity: 1; }
100% { opacity: 0; }
}


.x-segmentedbutton .x-button.x-first {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.x-segmentedbutton .x-button.x-last {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.x-form-label {
    background: #fefefe !important;
    color: #222 !important;
}
.x-form-fieldset {
    margin: 0px 0px 15px 0px !important;
}
.x-form-fieldset-title {
    color: #444 !important;
}
.x-form-fieldset-inner {
    background: #eaeaea !important;
    font-size: 12px !important;
    color: #444 !important;
    border: 1px solid #aaa !important;
    border-radius: 4px !important;
}
.x-field {
    min-height: 0px !important;
    background: #f5f5f5 !important;
}
.x-form-fieldset .x-field {
    background: transparent !important;
}
.x-input-el {
    padding: 11px 7px !important;
    font-size: 13px !important;
}
#createeventform .x-input-el {
    color: #006AB7 !important;
}
.x-field-textarea textarea {
    padding: 10px !important;
}
.x-form-label span {
    font-size: inherit !important;
    font-weight: inherit !important;
}
.x-checkmark-base, .x-field-checkbox .x-input-el::after, .x-field-checkbox .x-input-el:checked::after, .x-select-overlay .x-item-selected .x-list-item-label::before, .x-select-overlay .x-item-selected .x-list-item-label::after
{
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
    top: 50% !important;
    left: auto !important;
    right: 15px !important;
    -webkit-mask-size: 15px !important;
    margin-top: -9px !important;
}
.x-field-checkbox .x-input-el::after {
    background-color: transparent !important;
}
.x-field-checkbox .x-input-el:checked::after {
    background-color: transparent !important;
}

.x-carousel-indicator span {
    width: 4px !important;
    height: 4px !important;
    margin: 1px !important;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.8s ease 0s;
}

.x-toolbar .x-field-search .x-component-outer {
    border-radius: 4px !important;
    height: 32px !important;
    background: rgba(255,255,255,0.15) !important;
}
.x-field-search .x-field-input::before {
    background-color: #333 !important;
    top: 50% !important;
}
.x-input-search {
    margin-top: 0px !important;
    height: 35px !important;
    color: #333 !important;
}
.x-field-search .x-clear-icon {
    right: -7px !important;
    margin-top: -15px !important;
    opacity: 1;
    width: auto !important;
    height: 50% !important;
    background-image: url(../images/clear-icon.png) !important;
}

.x-field-select .x-component-outer::before {
    background: transparent !important;
}

.x-form-label {
    padding: 9px !important;
    background: transparent !important;
    border: none !important;
}

.x-toggle-field .x-component-outer {
    padding: 7px !important;
}

.x-toggle {
    height: 30px !important;
    width: 70px !important;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.5)) !important;
    background-color: #666 !important;
    -webkit-transition: background 0.4s ease-out 0s !important;
}
.x-toggle .x-thumb {
    height: 28px !important;
    width: 28px !important;
    -webkit-transition: -webkit-transform 0.4s ease-out 0s !important;
}
.x-toggle .x-thumb::before {
    height: 28px !important;
    width: 28px !important;
    top: 0px !important;
    left: 0px !important;
    box-shadow: 0px 0px 3px -1px #000 !important;
}
.x-toggle-on {
    background: none !important;
    background-color: #0A97FF !important;
}
.x-toggle-on:before {
    position:absolute;
    content:'YES';
    font-size: 13px;
    font-weight: bold;
    color: #fcfcfc;
    text-shadow: 0px -1px 1px #000;
    left: 10px;
    top: 5px;
}
.x-toggle-off:before {
    position:absolute;
    content:'NO';
    font-size: 13px;
    font-weight: bold;
    color: #fcfcfc;
    text-shadow: 0px -1px 1px #000;
    right: 10px;
    top: 5px;
}



/* TopToolbar Buttons */

.x-button-create {
    height:47px !important;
    width:47px !important;
    padding: 0px !important;
    margin: 0px -3px 0px 0px !important;
    display : block !important;
    text-align:center !important;
    box-shadow: 1px 0px 1px -1px #002541 inset !important;
    border: none !important;
    border-radius: 0px !important;
    background: transparent !important;
}
.x-button-create .x-button-label {
    width: 47px !important;
    height: 47px !important;
    padding: 31px 0px 0px 0px !important;
    margin: 0px !important;
    color: white !important;
    font-size: 9px !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    background-image: url(../images/compose.png) !important;
    background-size: 55% !important;
    background-repeat: no-repeat !important;
    background-position: 58% 48% !important;
}
.x-button-create:active {
    background: -webkit-linear-gradient(bottom, #1A9EFF,#008EF5 30%,#0076CC 65%,#0064AD) !important;
    box-shadow: #002541 0px 0px 2px -1px inset !important;
}


.x-button-cback {
    height:47px !important;
    width:47px !important;
    padding: 0px !important;
    margin: 0px 0px 0px -3px !important;
    display : block !important;
    text-align:center !important;
    box-shadow: -1px 0px 1px -1px #002541 inset !important;
    border: none !important;
    border-radius: 0px !important;
    background: transparent !important;
    -webkit-transition: background 0.1s ease 0.5s;
}
.x-button-cback .x-button-label {
    width: 47px !important;
    height: 47px !important;
    padding: 31px 0px 0px 0px !important;
    margin: 0px !important;
    color: white !important;
    font-size: 9px !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    background-image: url(../images/back-button.png) !important;
    background-size: 57% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.x-button-cback:active {
    background: -webkit-linear-gradient(bottom, #1A9EFF,#008EF5 30%,#0076CC 65%,#0064AD) !important;
    box-shadow: #002541 0px 0px 2px -1px inset !important;
    -webkit-transition: background 0.1s ease 0s;
}



.x-button-toggle {
    height:47px !important;
    width:47px !important;
    padding: 0px !important;
    margin: 0px 0px 0px -3px !important;
    display : block !important;
    text-align:center !important;
    box-shadow: -1px 0px 1px -1px #002541 inset !important;
    border: none !important;
    border-radius: 0px !important;
    background: transparent !important;
}
.x-button-toggle .x-button-label {
    width: 47px !important;
    height: 47px !important;
    padding: 31px 0px 0px 0px !important;
    margin: 0px !important;
    color: white !important;
    font-size: 9px !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    background-image: url(../images/map-button.png) !important;
    background-size: 55% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.list.x-button-toggle .x-button-label {
    background-image: url(../images/list-button.png) !important;
    background-size: 52% !important;
}
.x-button-toggle:active {
    background: -webkit-linear-gradient(bottom, #1A9EFF,#008EF5 30%,#0076CC 65%,#0064AD) !important;
    box-shadow: #002541 0px 0px 2px -1px inset !important;
}


.x-button-more-actions {
    height:47px !important;
    width:47px !important;
    padding: 0px !important;
    margin: 0px -3px 0px 0px !important;
    display : block !important;
    text-align:center !important;
    box-shadow: 1px 0px 1px -1px #002541 inset !important;
    border: none !important;
    border-radius: 0px !important;
    background: transparent !important;
}
.x-button-more-actions .x-button-label {
    width: 47px !important;
    height: 47px !important;
    padding: 31px 0px 0px 0px !important;
    margin: 0px !important;
    color: white !important;
    font-size: 9px !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    background-image: url(../images/action.png) !important;
    background-size: 57% !important;
    background-repeat: no-repeat !important;
    background-position: 57% 42% !important;
}
.x-button-more-actions:active {
    background: -webkit-linear-gradient(bottom, #1A9EFF,#008EF5 30%,#0076CC 65%,#0064AD) !important;
    box-shadow: #002541 0px 0px 2px -1px inset !important;
}



.x-button-cssnerd-variable-gray-toolbar {
    background-color: #006CBB !important;
    /*background-color: #FF6102 !important;*/
    height: 32px !important;
    margin-top: -3px !important;
    color:#fff !important;
    text-shadow : 0px -1px 1px #000 !important;
    border-radius: 6px !important;
    /*border-bottom: 1px solid rgba(255,255,255,0.3) !important;*/
}
.x-button-cssnerd-variable-gray-toolbar {
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        ) !important;
    /*padding: 7px 10px 0 10px !important;*/ 
    box-shadow: 0 1px 4px rgba(0,0,0,0.8)inset !important;
    border: none !important;
    font-size : 17px !important;
    text-align:center !important;
    background-size : 100% !important;
}
.x-button-cssnerd-variable-gray-toolbar:active  {
    background-color: #0A8EEF !important;
}


.x-anchor {
    background-color: #555 !important;
    height: 15px !important;
    margin-top: -9px !important;
}

.ask-panel-list .x-panel-inner {
    background: transparent !important;
}


.x-button-orange .x-icon-mask, .x-button-action .x-icon-mask
{
    background-color: white !important;
    background-image: none !important;
}



/* Bottom Toolbar / Tabbar */

.x-tabbar-dark {
    min-height: 74px !important;
    height: 74px !important;
    border-radius: 100% 100% 0px 0px / 75% !important;
    border: none !important;
    bottom: 0px !important;
    position: relative !important;
    margin-top: -37px !important;
    background: transparent !important;
    z-index: 5 !important;
}
.lightbox .x-toolbar-blue {
    bottom: -74px !important;
    min-height: 0px !important;
    height: 0px !important;
    -webkit-transition: height 0.5s linear 0s !important;
}
.x-tabbar-dark .x-tab-active
{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.x-tabbar-dark .x-tab:active
{
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}
.x-tabbar-dark .x-tab
{
    min-width: 44.5% !important;
    max-width: 44.5% !important;
    box-shadow: none !important;
    border: none !important;
}
.x-tabbar-dark .x-tab:nth-child(1)
{
    min-width: 44.5% !important;
    max-width: 44.5% !important;
}
.x-tabbar-dark .x-tab:nth-child(2)
{
    min-width: 11.5% !important;
    max-width: 11.5% !important;
}
.x-tabbar-dark .x-tab .x-button-icon
{
    width: 100% !important;
    height: 72px !important;
}

.x-tabbar-dark .x-tab .x-button-icon.browse
{
    background-color: transparent !important;
    background-image: url('../images/browse-sprite-flat.png') !important;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% 200% !important;
}
.x-tabbar-dark .x-tab-active .x-button-icon.browse
{
    background-image: url('../images/browse-sprite-flat.png') !important;
    background-position: right top !important;
}
.x-tabbar-dark .x-tab:active .x-button-icon.browse
{
    background-image: url('../images/browse-sprite-flat.png') !important;
    background-position: right top !important;
}

.x-tabbar-dark .x-tab .x-button-icon.camera
{
    background-color: transparent !important;
    background-image: url('../images/camera-sprite-flat.png') !important;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% 200% !important;
}
.x-tabbar-dark .x-tab-active .x-button-icon.camera
{
    background-image: url('../images/camera-sprite-flat.png') !important;
    background-position: right top !important;
}
.x-tabbar-dark .x-tab:active .x-button-icon.camera
{
    background-image: url('../images/camera-sprite-flat.png') !important;
    background-position: right top !important;
}

.x-tabbar-dark .x-tab .x-button-icon.config
{
    background-color: transparent !important;
    background-image: url('../images/settings-sprite-flat.png') !important;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
    background-size: 100% 200% !important;
}
.x-tabbar-dark .x-tab-active .x-button-icon.config
{
    background-image: url('../images/settings-sprite-flat.png') !important;
    background-position: right top !important;
}
.x-tabbar-dark .x-tab:active .x-button-icon.config
{
    background-image: url('../images/settings-sprite-flat.png') !important;
    background-position: right top !important;
}


.events-list {
    background: #f0f0f0 !important;
    overflow: hidden;
}
.events-list .events-list-inner {
    width: 100% !important;
    background: #f0f0f0 !important;
}
.events-list .x-scroll-container {
    background: #f0f0f0 !important;
}
.events-list .x-list-item {
    position: absolute !important;
    left: 0;
    top: 0;
    color: #000;
    width: 100%;
}
.events-list .x-list-item > .x-dock {
    height: auto;
}
.events-list .x-list-item .x-dock-horizontal .x-dock-body {
    width: 100% !important;
    padding: 0px !important;
    margin: 4px 5px !important;
}
.events-list .x-list-item .x-dock-horizontal, .events-list .x-list-item .x-dock-vertical, .events-list .events-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
    padding: 0px !important;
    border: none !important;
    margin: 0px !important;
}
.events-list .x-list-item-body {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    /*-webkit-transform: translate3d(0,0,0) !important; /* hack: cause it to cache */
    background: transparent !important;
    box-shadow: 0px 1px 2px -1px #333;
}
.events-list .x-list-scrolldock-hidden {
    display: none;
}

.touching .x-dock-horizontal {
    background: #f0f0f0 !important;
}


.x-list-paging {
    min-height: 60px !important;
}
.x-list-paging-msg {
    min-height: 60px !important;
    text-align: center !important;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    border: none !important;
    border-radius: 0px !important;
}
.x-list-paging-msg .load-more-text {
    text-align: center !important;
    font-weight: normal !important;
    text-transform: lowercase !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 13px !important;
    color: #666 !important;
    padding: 8px 10px 9px 10px !important;
    background-image: -webkit-linear-gradient(top, #eee, #ccc) !important;
    box-shadow: 0px 1px 2px -1px #333 !important;
}
.x-list-paging-msg:active .load-more-text {
    background-image: -webkit-linear-gradient(bottom, #eee, #ccc) !important;
}
.x-list-emptytext {
    padding-top: 20px !important;
    text-align: center !important;
    color: #555 !important;
    font-size: 15px !important;
}



.x-mask {
    background: rgba(0, 0, 0, 0.8);
    /* -webkit-animation: show-mask 0.25s 1 ease !important; */
}
.x-mask .x-mask-inner {
    background: transparent !important;
}
@-webkit-keyframes show-mask {
    0% { background: rgba(0, 0, 0, 0.0); }
100% { background: rgba(0, 0, 0, 0.8); }
}
.x-mask[id^="ext-loadmask-"] {
    margin-top: -47px !important;
    height: 113% !important;
}



/* Homepage / List View */

.list-item-top-cap {
    height: 26px;
    max-width: 100%;
    padding: 0px 5px;
    background: #fdfdfd;
    color: #999;
    font-size: 12px;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
}
.events-list .x-list-item:nth-child(1) .list-item-top-cap {
    margin-top: 1px !important; /* so that the box shadow shows completely */
}
.list-item-bottom-cap {
    height: 45px;
    color: #555;
    font-size: 13px;
    background: #fdfdfd;
    /* border-bottom-left-radius: 2px; */
    /* border-bottom-right-radius: 2px; */
}
.title-text {
    padding: 4px 5px 3px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}
.desc-text {
    line-height: 13px;
    font-size: 12px;
}
.location-text {
    padding: 6px 0px 5px 13px;
    font-weight: bold;
    background: url('../images/map-pin-small.png') no-repeat left 5px;
    background-size: 9px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.distance-away {
    margin: 5px 5px 0px 5px !important;
    padding: 1px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    background: #aaa;
    float: right;
}
.list-item-thumb {
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    width: 100%;
    background: #FDFDFD;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*box-shadow: 0px 0px 2px -1px #333;*/
}
.ask-panel-list .list-item-thumb {
    height: 80px !important;
}
.ask-panel-list .list-item-thumb:after {
    content: "Tap to add to this event";
    margin: 0px auto;
    font-size: 18px !important;
    display: block;
    padding: 2px 4px;
    color: #fff;
    width: auto !important;
    height: auto !important;
    font-weight: bold;
    text-align: center !important;
    background: #FF6100;
    opacity: 0.8 !important;
}
.already-exists.ask-panel-list .list-item-thumb:after {
    content: "Tap to go to this event" !important;
}
.events-list.searchlist .list-item-thumb {
    display: none !important;
}
.not-now {
    margin-top: 5px !important;
    padding: 1px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    background: #0F8AE2;
    float: right;
}
.now {
    margin-top: 5px !important;
    padding: 1px 4px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    background: #FF6100;
    float: right;
}
.view-count {
    float: right;
    margin-right: 5px;
    font-size: 11px;
}
.photo-count {
    padding: 0px 0px 1px 15px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 11px;
    background: url('../images/photos.png') no-repeat left top;
    background-size: 13px;
    float: left;
}
.video-count {
    padding: 0px 0px 1px 15px;
    margin-right: 10px;
    font-size: 11px;
    background: url('../images/videos.png') no-repeat left top;
    background-size: 13px;
    float: left;
}
.list-item-title-details {
    font-weight: bold;
    color: #222;
}
.list-item-details {
    width: 93px;
    float: right;
}
.eventdetails .title-text {
    max-height: inherit;
    padding-bottom: 5px;
}



/* Homepage / Map View */

.info-bubble {
    background: transparent !important;
}
.info-bubble .list-item-top-cap {
    min-width: auto !important;
    background: transparent !important;
}
.info-bubble .list-item-bottom-cap {
    min-width: auto !important;
    background: transparent !important;
}
.info-bubble .list-item-thumb {
    height: 125px;
}




.clear-fix {
    height: 0px;
    clear: both;
}
.empty-text {
    position: relative;
    top: 15px;
    color: #aaa;
    font-size: 13px;
}



/* On Event Details Container */
.mediawall {
    background: #333 !important;
}
.mediawall-item {
    min-width: 1px;
    min-height: 1px;
    width: auto;
    float: left;
    /*-webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}
.mediawall-item.x-item-pressed {
    opacity: 0.4;
}
.mediawall-item .thumb {
    float: left;
    margin: 0px 5px 5px 0px;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* box-shadow: 0px 0px 2px -1px #000; */
    -webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}
.mediawall-item .thumb.opening {
    -webkit-animation-name: zoom-effect;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes zoom-effect {
    0% { -webkit-transform: scale(1); }
    100% {-webkit-transform: scale(7); }
}
.mediawall-item .media-item {
    position: relative;
}

.mediawall-item .thumb .progress-bar {
    height: 5px;
    width: 1%;
    color: #aaa;
    background: #ff843a;
    font-size: 12px;
    display: block;
    position: absolute;
    z-index: 102;
    bottom: 22px;
    left: 0px;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: width 0.3s linear 0s;
}

.mediawall-item .thumb .timestamp {
    padding: 3px 5px;
    width: 100%;
    color: #aaa;
    background: #000;
    font-size: 12px;
    display: block;
    position: absolute;
    z-index: 101;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}
.mediawall-item .thumb.video .timestamp {
    background-image: url(../images/video-icon-overlay.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}
.mediawall-item .media-item.uploading {
    /*-webkit-animation: uploading-anim 1s ease-in-out 0s infinite alternate;*/
}
@-webkit-keyframes uploading-anim {
    0% { opacity: 0.2; }
    100% { opacity: 0.8; }
}

.mediawall-item .media-item.processing {
    opacity: 0.5;
}


.mediawall-item .thumb video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: block;
}

.mediawall-item .thumb.flipbook img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: block;
    opacity: 0;
    /*-webkit-transition: opacity 0s linear 0.7s;*/
}
.mediawall-item .thumb.flipbook img.show {
    opacity: 1;
    /*-webkit-transition: opacity 0.2s linear 0s;*/
}
.mediawall-item .thumb.flipbook {
    -webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}



.photo-thumb {
    margin-right: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 6px -1px #000;
    background: #000;
    /*-webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}
.timestamp-on-thumb {
    padding: 3px 5px;
    width: 165px;
    color: #aaa;
    background: #000;
    font-size: 12px;
    display: block;
    position: absolute;
    z-index: 101;
    bottom: 5px;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.photo-thumb.video-thumb + .timestamp-on-thumb {
    background-image: url(../images/video-icon-overlay.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}
.second-row-mediastrip .timestamp-on-thumb {
    bottom: 5px;
}
.second-row-mediastrip .x-scroll-container {
    background: transparent !important;
}
.event-details-title {
    font-size: 14px !important;
    font-weight: bold !important;
}
.event-details-facts {
    font-size: 13px;
    font-weight: normal;
    color: #444;
    width: 100%;
    background: -webkit-linear-gradient(top, #eee, #ccc);
    text-transform: uppercase;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #aaa;
    border-bottom: none;
    text-align: center;
}
.event-details-facts.under-description {
    border-radius: 0px !important;
    border-bottom: 1px solid #aaa !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.event-details-facts strong {
    font-weight: bold !important;
}
.event-details-facts .x-button {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    color: #444 !important;
}
.event-details-facts .x-button-label {
    text-align: left !important;
}
.event-details-facts .x-button-label a {
    color: #444 !important;
    text-decoration: none !important;
}
.event-details-facts .fact {
    width: 33% !important;
    padding: 9px 7px !important;
    text-align: center !important;
    float: left !important;
    box-shadow: 1px 0px 1px -1px #333 inset !important;
}
.event-details-facts div.fact:first-child {
    box-shadow: none !important;
}
.event-details-facts div.fact:last-child {
    padding-right: 15px !important;
}
.fact .date {
    position: absolute !important;
    display: block !important;
    width: 33% !important;
    margin-left: -10px !important;
    text-align: center !important;
    opacity: 1 !important;
    -webkit-transition: opacity 0.3s linear 0s !important;
}
.fact .time {
    position: absolute !important;
    display: block !important;
    width: 33% !important;
    margin-left: -10px !important;
    text-align: center !important;
    opacity: 0 !important;
    -webkit-transition: opacity 0.3s linear 0s !important;
}
.swap .date {
    opacity: 0 !important;
}
.swap .time {
    opacity: 1 !important;
}
.event-details-facts .x-button .x-icon-mask {
    width: 20px !important;
    height: 20px !important;
    -webkit-mask-size: 20px !important;
    background: #444 !important;
}
.event-details-facts .x-button-pressed.x-button, .event-details-facts .x-button-pressing.x-button {
    background: -webkit-linear-gradient(bottom, #eee, #ccc) !important;
}
.event-details-facts .x-button-pressed.x-button:first-child, .event-details-facts .x-button-pressing.x-button:first-child {
    border-top-left-radius: 4px !important;
}
.event-details-facts .x-button-pressed.x-button:last-child, .event-details-facts .x-button-pressing.x-button:last-child {
    border-top-right-radius: 4px !important;
}
.event-details-facts.under-description .x-button-pressing.x-button:first-child {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 4px !important;
}
.event-details-facts.under-description .x-button-pressing.x-button:last-child {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
}

.event-details-map {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #444 !important;
    padding: 8px 10px 9px 10px !important;
    width: 100% !important;
    display: block !important;
    text-decoration: none !important;
    background-image: -webkit-linear-gradient(top, #eee, #ccc) !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border: 1px solid #aaa !important;
}
.event-details-map a {
    color: #444 !important;
    text-decoration: none !important;
}
.event-details-map:active {
    background-image: -webkit-linear-gradient(top, #ccc, #eee) !important;
}
.event-details-map img {
    position: absolute !important;
    right: 20px !important;
    margin-top: 2px !important;
}
.event-details-new-comment {
    background: -webkit-linear-gradient(top, #eaeaea, #eaeaea) !important;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #444 !important;
    padding: 6px 10px !important;
    width: 100% !important;
    border: 1px solid #aaa !important;
}
.event-details-new-comment .x-input-el {
    font-size: 12px !important;
    line-height: 14px !important;
    padding: 0px !important;
    width: 100% !important;
}
.event-details-new-comment.no-comments {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.event-details-new-comment .x-clear-icon {
    margin-top: -5px !important;
    right: 10px !important;
}

.x-dataview-comments-item {
    padding: 8px 10px 9px 10px !important;
    /*background-image: -webkit-linear-gradient(top, #eee, #ddd) !important;*/
    background: #eaeaea !important;
    border-radius: 0px !important;
    border-left: 1px solid #aaa !important;
    border-right: 1px solid #aaa !important;
    border-bottom: 1px solid #aaa !important;
    font-size: 12px !important;
    font-weight: normal !important;
    color: #222 !important;
    word-wrap: break-word !important;
}
.x-dataview-comments-item:last-child {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    margin-bottom: 30px !important;
}
.x-dataview-comments-item strong {
    color: #888 !important;
    font-weight: bold !important;
}
.x-dataview-comments-item small {
    color: #888 !important;
    font-weight: normal !important;
    font-style: italic !important;
}
.x-dataview-comments-item em {
    color: #888 !important;
    font-weight: normal !important;
}



.event-details {
    -webkit-transform: translate3d(0,0,0); /* hack: cause it to cache */
}
.event-fact {
    padding: 10px 10px 10px 20px;
    font-size: 15px;
    background-color: transparent;
    background-position: 12px 11px;
    background-repeat: no-repeat;
    background-size: 8px 15px;
    text-transform: uppercase;
    color: white;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event-fact-location {
    background-image: url('../images/map-pin-small-white.png');
    width: 320px;
    padding-left: 30px;
}
.event-fact-location:active {
    text-shadow: 0px 1px 15px #fff;
}
.event-fact-date {
    width: 128px;
    padding-left: 30px;
    margin-top: 5px;
    background-image: url('../images/calendar-white.png');
    background-size: 13px;
    background-position: 10px 11px;
}
.event-fact-time {
    width: 95px;
    margin-top: 5px;
    background-image: url('../images/clock-white.png');
    background-size: 13px;
    background-position: 1px 12px;
}
.event-fact-info {
    width: 67px;
    margin-top: 5px;
    float: right;
    background-image: url('../images/info-white.png');
    background-size: 13px;
    background-position: 1px 13px;
}
.event-fact-info:active {
    text-shadow: 0px 1px 15px #fff;
}
.event-details-description {
    width: 320px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    font-size: 12px !important;
    color: white !important;
    clear: left;
    float: left;
}
.hide-description .event-details-description {
    display: none !important;
}



.locations-list {
    background: #f5f5f5 !important;
    border: 1px solid #aaa !important;
    border-bottom: none !important;
    overflow: hidden;
}
.locations-list .locations-list-inner {
    width: 100% !important;
    background: #f5f5f5 !important;
}
.locations-list .x-scroll-container {
    background: #f5f5f5 !important;
}
.locations-list .x-list-item {
    position: absolute !important;
    left: 0;
    top: 0;
    color: #000;
    width: 100%;
    -webkit-transition: background 0.4s linear 0.1s;
}
.locations-list .x-item-pressed {
    background: #d5d5d5 !important;
    -webkit-transition: none;
}
.locations-list .x-list-item > .x-dock {
    height: auto;
}
.locations-list .x-list-item .x-dock-horizontal .x-dock-body {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}
.locations-list .x-list-item .x-dock-horizontal, .locations-list .x-list-item .x-dock-vertical, .locations-list .locations-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
    padding: 0px !important;
    border: none !important;
    margin: 0px !important;
}
.locations-list .x-list-item-body {
    min-height: 35px !important;
    padding: 5px !important;
    border-bottom: 1px solid #ccc !important;
    font-size: 12px !important;
    line-height: 25px !important;
    box-shadow: none !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}
.place-result-thumb-container {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
    float: left;
}
.place-result-thumb-container img {
    -webkit-filter: grayscale(100%) opacity(28%) contrast(328%);
    filter: grayscale(100%) opacity(28%) contrast(328%);
}
.autocomplete.locations-list .x-list-item-body .vicinity {
    font-size: 10px !important;
}


.whosthere .x-list-item .x-dock-horizontal .x-dock-body {
    margin: 0px !important;
}
.whosthere .x-list-item .x-dock-horizontal {
    border: none !important;
}
.whosthere .x-list-item-body {
    min-height: 50px !important;
    padding: 5px 0px 10px 0px !important;
    border: none !important;
    box-shadow: none !important;
}
.whosthere .name-line {
    height: 50px;
    font-size: 20px !important;
    font-weight: normal !important;
    color: #4E4E4E !important;
}
.whosthere .name {
    padding: 0px 0px 5px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.whosthere .friend .name {
    color: #005390 !important;
}
.whosthere .photo-count {
    margin-left: 0px;
}
.whosthere .profile-image {
    float: left;
    margin: 0px 10px 0px 5px;
    border-radius: 4px;
    display: block;
}
.container-inlet-triangle {
    position: absolute;
    top: -9px;
    left: 21px;
    background: transparent;
    width: 0;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid #262626;
    height: 0;
}



select, .like-select {
    font-size: 13px !important;
    font-weight: bold !important;
    color: #444 !important;
    padding: 8px 10px 9px 10px !important;
    background-image: url(../images/disclosure-down.png), -webkit-linear-gradient(top, #eee, #ccc) !important;
    background-repeat: no-repeat, repeat !important;
    background-size: 13px 9px, auto !important;
    background-position: 94% center !important;
    height: 37px !important;
    width: 100% !important;
    border-radius: 4px !important;
    border: 1px solid #aaa !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}
select:active, select.active, .like-select:active, .like-select.active {
    background-image: url(../images/disclosure-down.png), -webkit-linear-gradient(bottom, #eee, #ccc) !important;
}


.form-group-toggle {
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #444 !important;
    padding: 14px 10px 15px 10px !important;
    width: 100% !important;
    background-image: -webkit-linear-gradient(top, #ddd, #ccc) !important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: #444 0px 0px 2px -1px inset;
}
.form-group-toggle:active {
    background-image: -webkit-linear-gradient(bottom, #ddd, #ccc) !important;
}
.form-group-toggle.facebook {
    background-image: -webkit-linear-gradient(top, #0096FF, #0078cc) !important;
    color: #fff !important;
    box-shadow: #00233d 0px 0px 2px -1px inset;
}
.form-group-toggle.facebook:active {
    background-image: -webkit-linear-gradient(bottom, #0096FF, #0078cc) !important;
}
.form-group-toggle.create {
    background-image: -webkit-linear-gradient(top, #ff843a, #FF6101) !important;
    color: #fff !important;
    box-shadow: #562000 0px 0px 2px -1px inset;
}
.form-group-toggle.create:active {
    background-image: -webkit-linear-gradient(bottom, #ff843a, #FF6101) !important;
}
.form-group-toggle img {
    position: absolute !important;
    right: 15px !important;
    margin-top: 5px !important;
    -webkit-transition: -webkit-transform 0.5s linear 0s !important;
    -webkit-transform: rotate(90deg) !important;
}

.form-group-toggle.in-form {
    border: 1px solid #aaa !important;
    text-align: left !important;
}
.form-group-toggle.in-form img {
    right: 20px !important;
    margin-top: 2px !important;
    -webkit-transform: rotate(0deg) !important;
}

.form-group-toggle.upload {
    padding: 8px 10px 9px 33px !important;
    background-color: #ff843a !important;
    background-image: url('../images/upload-white.png') !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: 5px 6px !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: normal !important;
    border: none !important;
    box-shadow: 0px 3px 5px -2px #000 !important;
    border-radius: 0px !important;
    text-transform: uppercase !important;
    text-align: left !important;
}
.form-group-toggle.upload:active {
    background-color: #ff6205 !important;
}
.form-group-toggle.who {
    padding: 8px 10px 9px 46px !important;
    background-color: #0F8AE2 !important;
    background-image: url('../images/team-white.png') !important;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
    background-position: 8px 9px !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 0px 3px 5px -2px #000 !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-align: left !important;
}
.form-group-toggle.who.long-text {
    font-size: 15px !important;
}
.form-group-toggle.who:active {
    background-color: #0071c1 !important;
}
.form-group-toggle.square-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.turn-disclosure .form-group-toggle {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.turn-disclosure .form-group-toggle img {
    -webkit-transform: rotate(-90deg) !important;
}
.form-group, .form-group.x-layout-box-item {
    background: #eaeaea !important;
    font-size: 12px !important;
    color: #444 !important;
    padding: 6px 10px !important;
    display: none !important;
    width: 100% !important;
    border: 1px solid #aaa !important;
    border-top: none !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    -webkit-transition: opacity 0.2s ease 0.01s !important;
    opacity: 0 !important;
}
.show-group.form-group {
    display: block !important;
    opacity: 1 !important;
}



/* Photos Carousel / Gallery (videos gallery also uses some of this) */
/* .lightbox .photos-carousel-details-component {
    display: none !important;
} */
.photos-carousel-details {
    padding: 10px 0px 25px 10px;
    width: 100%;
    font-size: 12px;
    line-height: 1.1;
    background: #000;
    color: #fff;
}
.photos-carousel-author
{
    font-size: 11px;
}
.photos-carousel-author small
{
    font-style: italic;
}
.photos-carousel-likes
{
    max-width: 60px;
    min-width: 60px;
    padding-right: 10px;
    text-align: right;
    float: right;
    font-size: 12px;
    line-height: 43px;
    font-weight: bold;
    text-transform: lowercase;
    color: #0096FF;
    overflow: visible;
}
.like-button
{
    width: 30px;
    height: 30px;
    background: #777;
    float: right;
    -webkit-mask-box-image: url(../images/thumbs-up.png);
    -webkit-transition: -webkit-transform 0.1s ease 0.5s;
}
.like-button.static-liked {
    background: #0F8AE2;
}
.like-button.liked {
    -webkit-animation: like-it 1s 1 ease;
    background: #0F8AE2;
}
@-webkit-keyframes like-it {
    0% { background: #777; -webkit-transform: scale(0.9) rotate(0deg); }
    10% { background: #777; -webkit-transform: scale(1) rotate(90deg); }
    45% { background: #0F8AE2; -webkit-transform: scale(1.3) rotate(0deg);}
    100% { background: #0F8AE2; -webkit-transform: scale(1) rotate(0deg); }
}
.share-button {
    width: 25px;
    height: 27px;
    margin-top: 5px;
    margin-left: 12px;
    background: #777;
    float: right;
    -webkit-mask-box-image: url(../images/action.png);
    -webkit-transition: -webkit-transform 0.1s ease 0.5s;
}
.flag-button {
    width: 27px;
    height: 27px;
    margin-top: 7px;
    background: #777;
    float: right;
    -webkit-mask-box-image: url(../images/flag.png);
    -webkit-transition: -webkit-transform 0.1s ease 0.5s;
}
.like-button:active, .share-button:active, .flag-button:active {
    -webkit-transform: scale(0.8);
    -webkit-transition: -webkit-transform 0.1s ease 0s;
}


/* badges on the bottom toolbar (e.g., "Login") */
.x-badge {
    margin-top: 22px !important;
    min-width: 4.5em !important;
    border-radius: 0px !important;
    padding: 2px 6px 2px 3px !important;
    background-image: linear-gradient(#ff690f,#ff6205) !important;
    background-image: -webkit-linear-gradient(#ff690f, #ff6205) !important;
    color: white !important;
    border-color: #fe7c2d !important;
}


/* Activity Panel */
.activity-list {
    padding: 0px 0px !important;
    font-size: 12px !important;
    color: #444 !important;
    width: 100% !important;
    background: transparent !important;
    border-top: 1px solid #aaa !important;
}
.activity-list .x-list-item .x-dock-horizontal .x-dock-body {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}
.activity-list .x-list-item, .activity-list .x-list-item.x-item-pressed {
    color: #444 !important;
}
.activity-list .x-list-item-body {
    height: 100px !important;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    background: #e0e0e0 !important;
    border: none !important;
    border-left: 1px solid #AAA !important;
    border-right: 1px solid #AAA !important;
    border-bottom: 1px solid #AAA !important;
}
.activity-list.fluid .x-list-item-body {
    height: 55px !important;
    padding: 5px !important;
}
.activity-list .list-item-thumb {
    float: left !important;
    width: 50% !important;
    height: 90px !important;
    background-color: transparent !important;
    margin: 5px 5px !important;
}
.activity-list .right-side {
    float: left !important;
    padding: 5px 5px 5px 5px;
}
.activity-list .delete {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 88px;
    background: url('../images/clear-icon.png') no-repeat left top;
    background-size: 20px 20px;
    background-position: center center;
}
.activity-list.fluid .delete {
    height: 44px;
}
.activity-list .delete:active {
    background: url('../images/clear-icon.png') no-repeat left top;
    background-size: 24px 24px;
    background-position: center center;
}
.activity-list strong {
    font-weight: bold !important;
}
.activity-list .sub-info {
    font-size: 11px !important;
    color: #777 !important;
}


.activity-segmented-button .x-button {
    background: -webkit-linear-gradient(top, #eee, #ccc) !important;
    border-radius: 0px !important;
    border-top: 1px solid #aaa !important;
    border-bottom: none !important;
    border-right: 1px solid #aaa !important;
    border-left: none !important;
}
.activity-segmented-button .x-button:first-child {
    border-radius: 4px 0px 0px 0px !important;
    border-left: 1px solid #aaa !important;
}
.activity-segmented-button .x-button:last-child {
    border-radius: 0px 4px 0px 0px !important;
}
.activity-segmented-button .x-button.x-button-pressing, .activity-segmented-button .x-button.x-button-pressed {
    background: -webkit-linear-gradient(bottom, #eee, #ccc) !important;
}
.activity-segmented-button .x-button-icon {
    background: #444 !important;
    margin: 0px auto !important;
}
.activity-segmented-button .x-button-icon.photo_black2 {
    -webkit-mask-image: url('../images/photos-white.png') !important;
}
.activity-segmented-button .x-button-icon.list {
    -webkit-mask-image: url('../images/list-button.png') !important;
}
.activity-segmented-button .x-button-icon.video_black2 {
    -webkit-mask-image: url('../images/videos-white.png') !important;
}
.x-button-icon.upload {
    -webkit-mask-image: url('../images/photos2.png') !important;
    position: relative !important;
    top: -1px !important;
    margin-right: 5px !important;
}
.x-button-icon.team.x-icon-mask { /* for Who's There button */
    -webkit-mask-image: url('../images/team.png') !important;
    -webkit-mask-size: 30px !important;
    -webkit-mask-position: 0px -5px !important;
    width: 30px !important;
    position: relative !important;
    top: -1px !important;
    margin-right: 5px !important;
}
.x-button-icon.action {
    -webkit-mask-image: url('../images/action.png') !important;
    position: relative !important;
    top: -1px !important;
    margin-right: 4px !important;
    margin-left: 4px !important;
}